<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <param name="robot_description" 
        command="$(find xacro)/xacro '$(find usafabot_gazebo)/urdf/usafabot.xacro'"/>
        command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf_multi.xacro'"/>

  <param name="/use_sim_time" value="true" />

  <!-- start world -->
  <node 
  	name="gazebo" pkg="gazebo_ros" type="gazebo" respawn="false"
  	args="$(find gazebo_ros)/worlds/empty.world" output="screen" 
  />

  <group ns="usafabot0">
     <param name="tf_prefix" value="usafabot0_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 0.1 -y 0.1 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot0" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>

  <group ns="usafabot1">
     <param name="tf_prefix" value="usafabot1_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 1.2 -y 0.5 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot1" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot2">
     <param name="tf_prefix" value="usafabot2_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 2.2 -y 0.6 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot2" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot3">
     <param name="tf_prefix" value="usafabot3_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 3.5 -y 0.7 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot3" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot4">
     <param name="tf_prefix" value="usafabot4_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 4.6 -y 0.4 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot4" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot5">
     <param name="tf_prefix" value="usafabot5_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 0.7 -y 1.2 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot5" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot6">
     <param name="tf_prefix" value="usafabot6_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 1.1 -y 1.5 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot6" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot7">
     <param name="tf_prefix" value="usafabot7_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 2.4 -y 1.4 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot7" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot8">
     <param name="tf_prefix" value="usafabot8_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 3.3 -y 1.5 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot8" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot9">
     <param name="tf_prefix" value="usafabot9_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 4.6 -y 1.3 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot9" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot10">
     <param name="tf_prefix" value="usafabot10_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 0.5 -y 2.7 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot10" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot11">
     <param name="tf_prefix" value="usafabot11_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 1.3 -y 2.3 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot11" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot12">
     <param name="tf_prefix" value="usafabot12_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 2.5 -y 2.3 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot12" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot13">
     <param name="tf_prefix" value="usafabot13_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 3.3 -y 2.4 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot13" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot14">
     <param name="tf_prefix" value="usafabot14_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 3.8 -y 2.1 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot14" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot15">
     <param name="tf_prefix" value="usafabot15_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 0.8 -y 3.1 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot15" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot16">
     <param name="tf_prefix" value="usafabot16_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 1.9 -y 3.05 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot16" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot17">
     <param name="tf_prefix" value="usafabot17_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 2.9 -y 3.05 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot17" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot18">
     <param name="tf_prefix" value="usafabot18_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 1.5 -y 3.8 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot18" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot19">
     <param name="tf_prefix" value="usafabot19_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 2.6 -y 3.8 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot19" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot20">
     <param name="tf_prefix" value="usafabot20_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 3.8 -y 3.6 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot20" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot21">
     <param name="tf_prefix" value="usafabot21_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 0.7 -y 4.8 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot21" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot22">
     <param name="tf_prefix" value="usafabot22_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 1.5 -y 4.2 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot22" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot23">
     <param name="tf_prefix" value="usafabot23_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 3.0 -y 4.6 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot23" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot24">
     <param name="tf_prefix" value="usafabot24_tf" />
    <include file="$(find usafabot_gazebo)/launch/old_usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 4.2 -y 4.5 -z 0 -R 0 -P 0 -Y 1.5708" />
      <arg name="robot_name"  value="usafabot24" />
    </include>
	<node
	name="old_controller"
	pkg="capstone21-22"
	type="old_controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="old_pos_transform.py"
	/>

  </group>
	 	  


</launch>
