<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- start world -->
  <node 
  	name="gazebo" pkg="gazebo_ros" type="gazebo" respawn="false"
  	args="$(find gazebo_ros)/worlds/empty.world" output="screen" 
  />

  <group ns="usafabot0">	
    	 <param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot0"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot0 -x 0.1 -y 0.1 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot1">	
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot1"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot1 -x 1.2 -y 0.5 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>

  <group ns="usafabot2">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot2"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot2 -x 2.2 -y 0.6 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot3">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot3"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot3 -x 3.5 -y 0.7 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot4">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot4"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot4 -x 4.6 -y 0.4 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot5">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot5"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot5 -x 0.7 -y 1.2 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot6">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot6"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot6 -x 1.1 -y 1.5 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot7">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot7"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot7 -x 2.4 -y 1.4 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot8">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot8"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot8 -x 3.3 -y 1.5 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot9">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot9"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot9 -x 4.6 -y 1.3 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot10">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot10"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot10 -x 0.5 -y 2.7 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot11">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot11"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot11 -x 1.3 -y 2.3 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot12">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot12"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot12 -x 2.5 -y 2.3 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot13">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot13"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot13 -x 3.3 -y 2.4 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot14">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot14"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot14 -x 3.8 -y 2.1 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot15">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot15"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot15 -x 0.8 -y 3.1 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot16">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot16"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot16 -x 1.9 -y 3.05 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot17">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot17"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot17 -x 2.9 -y 3.05 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot18">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot18"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot18 -x 1.5 -y 3.8 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot19">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot19"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot19 -x 2.6 -y 3.8 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot20">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot20"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot20 -x 3.8 -y 3.6 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot21">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot21"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot21 -x 0.7 -y 4.8 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot22">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot22"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot22 -x 1.5 -y 4.2 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot23">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot23"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot23 -x 3.0 -y 4.6 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>
  
  <group ns="usafabot24">
	<param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" value="usafabot24"/>
    </node>
	
	 <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model usafabot24 -x 4.2 -y 4.5 -z 0 -Y 1.5708 -param robot_description" />
	
	<node
	name="controller"
	pkg="capstone21-22"
	type="controller.py"
	/>
	<node
	name="position"
	pkg="usafabot_gazebo"
	type="pos_transform.py"
	/>

  </group>

</launch>
