<?xml version="1.0"?>

<launch>
  <!-- A urdf file describes the physical configuration of the robot for simulation -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find usafabot_description)/urdf/usafabot.urdf.xacro'" />	

  <!-- Publish robot states -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Publish joint transforms -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- Node to send commands to robot and gets wheel speeds from robot -->
  <node name="serial" pkg="usafabot" type="usafabot_serial.py" />

  <node name="um7_IMU" pkg="um7" type="um7_driver">
    <param name="port" type="string" value="/dev/ttyACM1" />
  </node>

  <include file="$(find usafabot)/launch/include/rplidar.launch" />
  
  <node pkg="rosservice" type="rosservice" name="reset" args="call --wait /imu/reset true true true"/>
</launch>
