<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <param name="robot_description" 
        command="$(find xacro)/xacro.py '$(find usafabot)/gazebo/usafabot.xacro'"/>

   

  <!-- BEGIN ROBOT 0-->
	  <group ns="USAFABOT0">
	     <param name="tf_prefix" value="USAFABOT0_tf" />
	    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
	      <arg name="init_pose" value="-x 0 -y 2.2 -z 0" />
	      <arg name="robot_name"  value="USAFABOT0" />
	    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
		<node
		name="position"
		pkg="ground_robot"
		type="pos_transform.py"
		/>
		<!--<node
		name="master"
		pkg="master"
		type="master.py"
		/>-->
	  </group>

    <!--BEGIN ROBOT 1-->
  <group ns="USAFABOT1">
    <param name="tf_prefix" value="USAFABOT1_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 0 -y 2.4 -z 0" />
      <arg name="robot_name"  value="USAFABOT1" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 2-->
  <group ns="USAFABOT2">
    <param name="tf_prefix" value="USAFABOT2_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 0 -y 2.6 -z 0" />
      <arg name="robot_name"  value="USAFABOT2" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 3-->
  <group ns="USAFABOT3">
    <param name="tf_prefix" value="USAFABOT3_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 0 -y 2.8 -z 0" />
      <arg name="robot_name"  value="USAFABOT3" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

     <!--BEGIN ROBOT 4-->
  <group ns="USAFABOT4">
    <param name="tf_prefix" value="USAFABOT4_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 0 -y 3.2 -z 0" />
      <arg name="robot_name"  value="USAFABOT4" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 5-->
  <group ns="USAFABOT5">
    <param name="tf_prefix" value="USAFABOT5_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 0 -y 3.4 -z 0" />
      <arg name="robot_name"  value="USAFABOT5" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 6-->
  <group ns="USAFABOT6">
    <param name="tf_prefix" value="USAFABOT6_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 0 -y 3.6 -z 0" />
      <arg name="robot_name"  value="USAFABOT6" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 7-->
  <group ns="USAFABOT7">
    <param name="tf_prefix" value="USAFABOT7_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 0 -y 3.8 -z 0" />
      <arg name="robot_name"  value="USAFABOT7" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 8-->
  <group ns="USAFABOT8">
    <param name="tf_prefix" value="USAFABOT8_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 2.4 -y 6 -z 0" />
      <arg name="robot_name"  value="USAFABOT8" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 9-->
  <group ns="USAFABOT9">
    <param name="tf_prefix" value="USAFABOT9_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 2.6 -y 6 -z 0" />
      <arg name="robot_name"  value="USAFABOT9" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 10-->
  <group ns="USAFABOT10">
    <param name="tf_prefix" value="USAFABOT10_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 2.8 -y 6 -z 0" />
      <arg name="robot_name"  value="USAFABOT10" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 11-->
  <group ns="USAFABOT11">
    <param name="tf_prefix" value="USAFABOT11_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 3.2 -y 6 -z 0" />
      <arg name="robot_name"  value="USAFABOT11" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 12-->
  <group ns="USAFABOT12">
    <param name="tf_prefix" value="USAFABOT12_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 3.4 -y 6 -z 0" />
      <arg name="robot_name"  value="USAFABOT12" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 13-->
  <group ns="USAFABOT13">
    <param name="tf_prefix" value="USAFABOT13_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 3.6 -y 6 -z 0" />
      <arg name="robot_name"  value="USAFABOT13" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 14-->
  <group ns="USAFABOT14">
    <param name="tf_prefix" value="USAFABOT14_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 3.8 -y 6 -z 0" />
      <arg name="robot_name"  value="USAFABOT14" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 15-->
  <group ns="USAFABOT15">
    <param name="tf_prefix" value="USAFABOT15_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 6 -y 3.4 -z 0" />
      <arg name="robot_name"  value="USAFABOT15" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 16-->
  <group ns="USAFABOT16">
    <param name="tf_prefix" value="USAFABOT16_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 6 -y 3.2 -z 0" />
      <arg name="robot_name"  value="USAFABOT16" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 17-->
  <group ns="USAFABOT17">
    <param name="tf_prefix" value="USAFABOT17_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 6 -y 2.8 -z 0" />
      <arg name="robot_name"  value="USAFABOT17" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 18-->
  <group ns="USAFABOT18">
    <param name="tf_prefix" value="USAFABOT18_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 6 -y 2.6 -z 0" />
      <arg name="robot_name"  value="USAFABOT18" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 19-->
  <group ns="USAFABOT19">
    <param name="tf_prefix" value="USAFABOT19_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 3.6 -y 0 -z 0" />
      <arg name="robot_name"  value="USAFABOT19" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 20-->
  <group ns="USAFABOT20">
    <param name="tf_prefix" value="USAFABOT20_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 3.4 -y 0 -z 0" />
      <arg name="robot_name"  value="USAFABOT20" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 21-->
  <group ns="USAFABOT21">
    <param name="tf_prefix" value="USAFABOT21_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 3.2 -y 0 -z 0" />
      <arg name="robot_name"  value="USAFABOT21" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 22-->
  <group ns="USAFABOT22">
    <param name="tf_prefix" value="USAFABOT22_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 2.8 -y 0 -z 0" />
      <arg name="robot_name"  value="USAFABOT22" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 23-->
  <group ns="USAFABOT23">
    <param name="tf_prefix" value="USAFABOT23_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 2.6 -y 0 -z 0" />
      <arg name="robot_name"  value="USAFABOT23" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

    <!--BEGIN ROBOT 24-->
  <group ns="USAFABOT24">
    <param name="tf_prefix" value="USAFABOT24_tf" />
    <include file="$(find usafabot)/launch/usafabot_gazebo.launch" >
      <arg name="init_pose" value="-x 2.4 -y 0 -z 0" />
      <arg name="robot_name"  value="USAFABOT24" />
    </include>
		<node
		name="controller"
		pkg="ground_robot"
		type="controller.py"
		/>
    <node
    name="position"
    pkg="ground_robot"
    type="pos_transform.py"
    />
  </group>

</launch>